/*COLOR SCHEME*/
$colorWhite: #ffffff;
$colorWhiteOff: #fefefe;
$colorWhiteFaded: rgba(254, 254, 254, 0.85);
$colorBackgroundOffWhite: #f6f6f6;
$colorGreen: #37b048;
$colorGreenFaded: rgba(55, 176, 72, 0.8);
$colorGreenFront: #37b04880;
$colorGreenDarken: #289638;
$colorFaded: #8d9aa8;
$colorDarkGray: #2e2e2e;
$colorError: #b03737;
$colorBlack: #000000;
$colorGray: #dddddd;
$colorGraydarken: #c7c7c7;

$blackFilter: rgba(55, 57, 60, 0.5);
$borderRadiusBtn: 20px;
$borderRadiusBox: 4px;
$borderSettings: 1px solid #e6e6e6;
$shadowSettings: 0px 0px 16px #00000029;

$mainColor:#c90000;
$mainFont: 'QuickSand', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
